{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<style>

    .content-block {
        min-height: 633px;
    }

    form .form-group label {
        padding: 10px 0 10px 0;
    }

    p {
        font-size: 16px;
    }

    .form-control {
        color: #808080;
    }

    input[text] {
        color: #808080;
    }

    .cancel {
        border: 1px solid #D64123;
        color: #D64123;
        background-color: #fff;
        float: right;
        margin: 50px 0px;
        padding: 8px 24px;
        line-height: 1rem;
        box-shadow: none;
        margin-right: 5%;
    }

    .btn-primary:active:focus {
        box-shadow: none;
    }

    .cancel:focus,
    .cancel,
    .cancel:active {
        border: 1px solid #D64123;
        color: #D64123;
        background-color: #fff;
        float: right;
        margin: 50px 0px;
        padding: 8px 24px;
        line-height: 1rem;
        box-shadow: none;
        margin-right: 5%;
    }

    .cancel:hover {
        border: 1px solid #D64123;
        color: #fff;
        background-color: #D64123;
        float: right;
        margin: 50px 0px;
        padding: 8px 24px;
        line-height: 1rem;
        margin-right: 5%;
    }

    button[type=submit] {
        border: 1px solid #2E8025;
        color: #2E8025;
        background-color: #fff;
        float: right;
        margin: 50px 0px;
        padding: 8px 24px;
        line-height: 1rem;
    }

    button[type=submit]:focus,
    button[type=submit]:active {
        border: 1px solid #2E8025;
        color: #fff;
        background-color: #2E8025;
        float: right;
        margin: 50px 0px;
        padding: 8px 24px;
        line-height: 1rem;
        box-shadow: none;
    }

    button[type=submit]:hover {
        border: 1px solid #2E8025;
        color: #fff;
        background-color: #2E8025;
        float: right;
        margin: 50px 0px;
        padding: 8px 24px;
        line-height: 1rem;
    }

    .page-title {
        color: green;
        font-size: 15px;
        border-bottom: 2px solid green;
        padding-bottom: 25px;
        font-weight: 700;
        margin-bottom: 16px;
    }
</style>
<div style="display: block; margin: 0 auto;">
    <h2 class="page-title">Change Your Password</h2>
    <p>Use the form below to change your Password</p>
    <form action="" 
        method="post" 
        class="form"
        style="width: 50%;"
    >
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <br />
        <button type="submit" class="submit">Submit</button>
        <a type="button" href="{% url 'authapp:dashboard' %}" class="cancel" style="padding: 11px 24px;">Cancel</a>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}