/* //////////////////////Facilitators settings page /////////////////////*/
.facilitator_selector{
    display: block;
    width: 60%;
    float: left;
}
.content-block .right-sidebar{
    display: block;
    width:40%;
    float: right;
    margin-top: -43px;
    margin-left: 20px;
}
/* ////////// FACILITATORS BLOCK /////////// */
.content-block .right-sidebar .facilitators{
    background-color: white;
    display: block;
    float: right;
    width: 100%;
    padding: 18px 18px;
    border-radius: 5px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}
.block_title{
    display: block;
    width: 100%;
    /* Fonts */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    text-align: left;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    /* #D64123 */
    color: #D64123;
}
.right-sidebar .facilitators .user_description{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: -10px;
}
.right-sidebar .facilitators .user_description .user_information_block{
    display: block;
    width: 100%;
}
.right-sidebar .facilitators .user_description .user_information_block .user_image{
    display: block;
    margin-top: 0px;
    width: 35%;
    float: left;
}
.right-sidebar .facilitators .user_description .user_information_block .user_image img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}
.right-sidebar .facilitators .user_description .user_information_block .user_information{
    display: block;
    width: 65%;
    float: right;
    border-bottom: 1px solid #34220D4D;
    padding: 5px 0px;
}
.right-sidebar .facilitators .user_description .user_information_block .user_information .user_name{
    display: block;
    width: 100%;
    /* Sierra Ferguson */
    padding: 0px 0px 8px;

    font-family: 'Roboto';
    font-style: medium;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    /* #A50064 */
    color: #A50064;
}
.right-sidebar .facilitators .user_description .user_information_block .user_information .user_position{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height */
    letter-spacing: 0.01em;

    /* Text */
    color: #34220D;
    opacity: 0.5;
}
.right-sidebar .facilitators .user_description  .user_personal_data_block{
    display: block;
    width: 100%;
}
.right-sidebar .facilitators .user_description  .user_personal_data_block .user_personal_data{
    white-space: nowrap;
    float: right;
    text-align: left;
    font-size: 12px;
    width: 100%;
    padding-left: 35%;
    overflow: hidden;
}
.right-sidebar .facilitators .user_description .message {
    position: relative;
    padding: 3px;
    background-color: #FFF;
    left: 80%;
    bottom: 60%;
    font-size: 13px;
}

.right-sidebar .facilitators .user_description  .user_personal_data_block .user_personal_data .label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    /* Text */
    color: #34220D;
    opacity: 0.5;
}
.right-sidebar .facilitators .user_description  .user_personal_data_block .user_personal_data .data{
    display: block;
    margin-bottom: 5px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    /* identical to box height */
    letter-spacing: 0.01em;
    /* Text */
    color: #34220D;
}
.right-sidebar .facilitators .user_description  .user_personal_data_block .user_personal_data::before {
    display: block;
    content: "";
    background: url("website-icons/copy.5e9093055731.png") no-repeat;
    background-size: 12px;
    position: relative;
    z-index: 5;
    top: 15px;
    left: 93%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    outline: #fff 3px solid;
}
.right-sidebar .facilitators .user_description  .user_personal_data_block .user_personal_data.copied::before {
    display: block;
    content: "";
    background: url("website-icons/copied.1f9cf7c83a86.png") no-repeat;
    background-size: 16px;
    position: relative;
    z-index: 5;
    top: 15px;
    left: 93%;
    width: 16px;
    height: 16px;
    background-color: #fff;
    outline: #fff 3px solid;
}
.right-sidebar .facilitators .user_description .user_information_block .user_information .first_name , .last_name{
    font-family: 'Roboto';
    display: flex;
    color: #34220D;
}
.right-sidebar .facilitators .user_description .user_information_block .user_information .first_name{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height */
    letter-spacing: 0.01em;
}
.right-sidebar .facilitators .user_description .user_information_block .user_information .last_name{
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.01em;
}
.content-block .headling{
    display: block;
    width: 100%;
}
.content-block .headling .content_tabs{
    display: block;
    width: 100%;
    padding-bottom: 20px;
}
.content-block .headling .content_tabs a{
    margin-right: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #34220D;
    opacity: 0.7;
    padding: 2px 0px;
} 
.content-block .headling .content_tabs .active{
    color: #007CBA;
    border-bottom: 1px solid #007CBA;
}
/* ///////////SELECTOR///////////// */
.facilitator_settings{
    display: flex;
    width: 100%;
    font-family: 'Roboto';
}
.facilitator_settings .facilitator_selector{
    display: block;
    width: 60%; 
    max-height: 372px;
    overflow-y: auto;
}
.facilitator_selector::-webkit-scrollbar {
    width: 8px; 
}
.facilitator_selector::-webkit-scrollbar-track{
    background-color: #aaa;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #34220D;
    border-radius: 5px;
}
.facilitator_settings .facilitator_selector .selector_headling,
.facilitator_settings .facilitator_selector .selector_body_item
{
    display: flex;
    width: 98%;
    justify-content: center;
    border-radius: 5px;
}

.facilitator_settings .facilitator_selector .selector_headling .wor_week,
.facilitator_settings .facilitator_selector .selector_body_item .wor_week
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 15%;     
    /* Text css */
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #2E8025;
    padding: 2px;
    cursor: pointer;
}
.facilitator_settings .facilitator_selector .selector_body_item .wor_week{
    cursor: pointer;
}

.facilitator_settings .facilitator_selector .selector_body_item .wor_week .period{
    font-size: 10px;
    margin-top: 2px;
}

.facilitator_settings .facilitator_selector .selector_body_item .wor_week .period,
.facilitator_settings .facilitator_selector .selector_body_item .wor_week .week
{
    display: block;
    width: 100%;
}

.facilitator_settings .facilitator_selector .selector_headling .wor_leader,
.facilitator_settings .facilitator_selector .selector_headling .wor_engager
{   
    margin-left: 4px;
    display: flex;
    justify-content: center;
    width: 39%;
    
    background-color: #F5F6F8;
}
.facilitator_settings .facilitator_selector .selector_headling .wor_leader img,
.facilitator_settings .facilitator_selector .selector_headling .wor_engager img{
    padding: 6px;
    width: 40px;
    height: 40px;
}
.facilitator_settings .facilitator_selector .selector_body_item .wor_leader,
.facilitator_settings .facilitator_selector .selector_body_item .wor_engager
{
    margin-left: 4px;
    display: flex;
    width: 39%;
    /* border-radius: 5px; */
    background-color: #F5F6F8;
}
.facilitator_settings .facilitator_selector .selector_body_item .wor_leader .user_profile,
.facilitator_settings .facilitator_selector .selector_body_item .wor_engager .user_profile{
    display: block;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    margin: 8px;
    position: relative;
}
.selector_body_item .wor_leader .user_profile .user_image,
.selector_body_item .wor_engager .user_profile .user_image{
    display: inline-block;
    width: 29%;
    padding: 4px;
}
.selector_body_item .wor_leader .user_profile .user_image img,
.selector_body_item .wor_engager .user_profile .user_image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -12px;
}
.selector_body_item .wor_leader .user_profile .user_information,
.selector_body_item .wor_engager .user_profile .user_information{
    display: inline-block;
    width: 58%;
    color: #34220D;
    padding: 10px 0px 10px;
}
.selector_body_item .wor_leader .user_profile .user_information .first_name,
.selector_body_item .wor_engager .user_profile .user_information .first_name{
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}
.selector_body_item .wor_leader .user_profile .user_information .last_name,
.selector_body_item .wor_engager .user_profile .user_information .last_name{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
}
/* /////////////// DROPDOWNLIST CSS /////////////// */
.checkbox-dropdown-list::-webkit-scrollbar {
    width: 8px; 
}
.checkbox-dropdown-list::-webkit-scrollbar-track{
    background-color: #aaa;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #34220D;
    border-radius: 5px;
    height: 20px;
}

.checkbox-dropdown-list input[type="radio"]:checked + label{
    background-color: #63513d;
    color: #fff;
    border-radius: 3px;
}
.checkbox-dropdown-list input[type="radio"]:checked + label .user_information .first_name,
.checkbox-dropdown-list input[type="radio"]:checked + label .user_information .last_name
{
    color: #fff;
}
.checkbox-dropdown-list input[type="radio"]{
    position: absolute;
    opacity:0;
}
.checkbox-dropdown-list img{
    border-radius: 50%;
    padding: 2px;
    height: 40px;
    width: 40px;
}
.checkbox-dropdown {
    width: 24px;
    height: 24px;
    padding: 10px;
    position: absolute;
    margin: 27px 5px 0px 0px;
    top: -10px;
    right: 0px;
    user-select: none;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
    content:'';
    height: 0;
    position: absolute;
    width: 0;
    border: 6px solid transparent;
    border-top-color: #34220D;
    top: 30%;
    right: 1px;
    margin-top: -2px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
    border-bottom-color: #34220D;
    border-top-color: transparent;
    margin-top: -8px;
    right:1px;
}

.checkbox-dropdown-list {
    list-style: none;
    width: 190px;
    margin: 26px 0px 0px -170px;
    padding: 0;
    position: absolute;
    border: inherit;
    border: 1px solid lightgray;
    border-radius: 5px;
    
    opacity: 0; /* hide the dropdown */
    
    transition: opacity 0.4s ease-in-out;
    height: 105px;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: none; /* avoid mouse click events inside the dropdown */
    background-color: #fff;
}

.is-active .checkbox-dropdown-list {
    z-index: 100;
    opacity: 1; /* display the dropdown */
    pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
    display: block;
    border-bottom: 1px solid silver;
    /* padding: 5px; */
    /* border-radius: 5px; */
    transition: all 0.2s ease-out;
}
.checkbox-dropdown-list li:first-child label {
    margin-top: 0px;
}
.checkbox-dropdown-list li:last-child label {
    margin-bottom: 0px;
    border-bottom: 0px solid silver;
}

.checkbox-dropdown-list li label:hover {
    background-color: #F5F6F8;
    color: #34220D;
}
.move{
    width:222px;
    margin-left:-202px;
}
/* /////////// FORM ACTION BUTTONS ////////////////////// */
.right-sidebar .action_buttons{
    display: flex;
    height: 64px;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}
.right-sidebar .action_buttons button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-left: 24px;
    padding: 8px 24px;
    /* text formating */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.right-sidebar .action_buttons .reset{
    border-color: #D64123;
    color: #D64123;
}
.right-sidebar .action_buttons .reset:hover{
    background-color: #D64123;
    color: #FFF;
}
.right-sidebar .action_buttons .submit{
    border-color: #2E8025;
    color: #2E8025;
}
.right-sidebar .action_buttons .submit:hover{
    background-color: #2E8025;
    color: #FFF;
}
/* /////////// USER REMOVAL FORM ////////////////////// */
.form_container{
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5); /* complimenting your modal colors */
    padding-bottom: 5px;
}
.show {
    visibility: visible;
    display: block;
}
.user_remove_form #remove_user_form, .user_add_form #add_user_form {
    display: flex;
    flex-direction: column;
    width: 30%;
    /* #FFFFFF */
    background: #FFFFFF;
    /* Drop Shadow */
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    /* Centering*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: 0 auto;
}
.user_remove_form .form-title, .user_add_form .form-title {
    color: green;
    font-size: 15px;
    border-bottom: 2px solid green;
    padding: 16px 24px 18px 24px;
    font-weight: 700;
}
/* CHECKBOX USER SELECTOR */
.user_remove_form .checkbox-list, .user_add_form .checkbox-list{
    width: 95%;
    max-height: 400px;
    overflow: auto;
}
.user_remove_form .checkbox-user-list, .user_add_form .checkbox-user-list {
    list-style: none;
}
.user_remove_form .checkbox-list::-webkit-scrollbar,
.user_add_form .checkbox-list::-webkit-scrollbar {
    width: 8px;  
}
.user_remove_form .checkbox-list::-webkit-scrollbar-track{
    background-color: #aaa;
    border-radius: 5px;
}
.user_remove_form .checkbox-list ::-webkit-scrollbar-thumb,
.user_add_form .checkbox-list ::-webkit-scrollbar-thumb{
    background-color: #34220D;
    border-radius: 5px;
    height: 20px;
}

.user_remove_form .checkbox-user-list input[type="radio"]:checked + label,
.user_add_form .checkbox-user-list input[type="radio"]:checked + label
{
    background-color: #63513d;
    color: #fff;
}
.user_remove_form .checkbox-user-list input[type="radio"],
.user_add_form .checkbox-user-list input[type="radio"]{
    display: none;
}
.user_remove_form .checkbox-user-list img,
.user_add_form .checkbox-user-list img
{
    border-radius: 50%;
    padding: 2px;
    width: 40px;
    height: 40px;
}
.user_remove_form .checkbox-user-list li label,
.user_add_form .checkbox-user-list li label{
    display: block;
    border: 1px solid silver;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}
/* FORM BUTTONS CSS */
.user_remove_form .form_fields button,
.user_add_form .form_fields button{
    display: block;
    border: 1px solid #F5F6F8;
    border-radius: 4px;
    box-shadow: none;
    margin: 8px auto;
    background: #63513D;
    width: 200px;
    height: 40px;
    /* text css */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.user_remove_form .form_fields .cancel,
.user_add_form .form_fields .cancel{     
    display: flex;
    justify-content: center; 
    
    border: 1px solid #F5F6F8;
    border-radius: 4px;
    box-shadow: none;
    margin: 8px auto;
    width: 200px;
    height: 40px;

    background: #FFFFFF;
    color: #63513D;
    padding: 5px;

}
.user_remove_form .form_fields .confirm:hover,
.user_add_form .form_fields .confirm:hover{
    background:  #34220D;
}
.user_remove_form .form_fields .cancel:hover,
.user_add_form .form_fields .cancel:hover{            
    border-color: #34220D;
    color: #34220D;
}